<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <div class="message-board">
      <h1>Message Board</h1>
      <form action="#" method="post">
        <label for="author_name">
          Author Name
          <input type="text" name="author_name" id="author_name" />
        </label>
        <label for="message">
          Message
          <input type="text" name="message" id="message" />
        </label>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
